body{
    color: #424242; 
    font-family: sans-serif;
  
  }
  a{
    color: #424242;
  }
  a:hover{
    color: #00c853;
  
  }
  #projects {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  #projects h4{
    margin-bottom: 4rem;
  }
  .section-search{
    /* padding: 3rem 0 0.5rem 0; */
    font-size: 1.1rem !important;
    width: 100% !important;
    border: #f4f4f4 3px solid;
  }
  
  #search img{
    width: 290px;
    height:280px;
    /* width: 50%; */
  }
  .section-follow{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .section-follow .fa-4x{
    margin: 5px 3px;
  }
  
  #journal{
    padding-top: 6rem;
    margin-bottom: 5rem;
  }
  #journal h4{
    margin-bottom: 5rem;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
